.top-page-header{
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 85px;
  background-color: rgb(248, 234, 220);
}
.search-bar-contents{
  display: flex;
  align-content: center;
}
.search-form-main{
  height: 10vh;
  margin: 15px;
  display: flex;
  align-items: center;
}
.search-form {
  width: 30vw;
  height: 5vh;
  display: flex;
  align-content: center;
  margin-bottom: 5px;
}
.search-form>.input-box {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  margin-right: 10px;
}
.search-button{
  width: 5vw;
  cursor: pointer;
  border: 0;
  background-color: #c3e6a9;
  padding: 5px;
}
.main-header-title{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  width: 40vw;
  margin: 10px;
} 
.nav{
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
 
}
.lists-left {
  text-decoration: none;
  list-style: none;
}

.lists-right{
  display: flex;
  list-style: none;
}
.user-nickname{
  text-decoration: none;
  color: black;
  margin: 20px;
}
.logout{
  text-decoration: none;
  color: black;
  padding-right: 5px;
}
.login{
  text-decoration: none;
  color: black;
  margin: 20px;
}
.sign-up{
  text-decoration: none;
  color: black;
  padding-right: 5px;
}
.category-list{
  text-decoration: none;
  color: black;
}