<%= render "shared/header" %>
<div class='btn'>
<%= link_to 'Share', new_post_path, class: "btn-text" %>
</div>
<div class="post-all">
<div class="post-all1">
<div class="post-all-title">Share List</div>
<div class="post-list-all">
<%= render partial: "post", collection: @posts %>
</div>
</div>
</div>